# Rust build outputs
/target
debug
*.pdb

# VSCode / IDE
.idea/
.vscode/

# Proof / keys output
pk.bin
vk.json
proof.json
test_output/
*.bin

# .DS_Store for macOS
.DS_Store

# backup files
**/*.rs.bk
